<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/css/main.css">

  </head>


  <body>
    <nav>

<a href="{{ site.baseurl }}/" class="home">HOME</a>
<a href="{{ site.baseurl }}/about" class="about">ABOUT</a>
<a href="{{ site.baseurl }}/cv" class="vs">CV</a>
<a href="{{ site.baseurl }}/blog" class="blog">BLOG</a>

    </nav>
<img src="{{ site.url }}{{ site.baseurl }}/images/test.jpg" style="display: block; margin: auto;" />
<div class="container">

  {{ content }}

</div>
  
  </body>

</html>
