<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>

<a href="/" class="home">HOME</a>
<a href="/about" class="about">ABOUT</a>
<a href="/cv" class="vs">CV</a>
<a href="/blog" class="blog">BLOG</a>

    </nav>

    <img src="{{site.url}}/images/test.jpg" style="display: block; margin: auto;" />
<div class="container">

  {{ content }}

</div>
  
  </body>

</html>
